# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bin/
include/











# pyenv
.python-version



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


##my files
pyvenv.cfg
.DS_Store